<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <ProjectConfiguration Include="Debug|x64">
      <Configuration>Debug</Configuration>
      <Platform>Win32</Platform>
    </ProjectConfiguration>
    <ProjectConfiguration Include="Release|x64">
      <Configuration>Release</Configuration>
      <Platform>Win32</Platform>
    </ProjectConfiguration>
  </ItemGroup>
  <PropertyGroup Label="Globals">
    <WindowsTargetPlatformVersion>$(_TARGET_PLATFORM)</WindowsTargetPlatformVersion>
  </PropertyGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.default.props" />
  <PropertyGroup Label="Globals">
    <ProjectName>testapp</ProjectName>
    <PlatformToolset>v140</PlatformToolset>
    <_OUT_ROOT Condition="'$(Configuration)'=='Debug'">debug\</_OUT_ROOT>
    <OutDir>$(_OUT_ROOT)$(PlatformTarget)\</OutDir>
    <IntDir>$(OutDir)cache\</IntDir>
    <TLogLocation>$(IntDir)</TLogLocation>
  </PropertyGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.props" />
  <ItemGroup>
    <ClCompile Include="app.cpp" />
  </ItemGroup>
  <ItemGroup>
    <ClInclude Include="app.h" />
  </ItemGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.Targets" />
</Project>
