<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="config.xml" />
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.default.props" />
  <PropertyGroup>
    <ProjectName>app</ProjectName>
    <PlatformToolset>$(_PlatformToolset)</PlatformToolset>
    <OutDir>build\$(ProjectName)\$(Configuration)\$(PlatformTarget)\</OutDir>
    <IntDir>$(OutDir)cache\</IntDir>
    <TLogLocation>$(IntDir)</TLogLocation>
  </PropertyGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.props" />
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.Targets" />
  <ItemGroup>
    <ClCompile Include="app.cpp" />
  </ItemGroup>
  <Target Name="AfterBuild">
    <SetEnv Name="OutDir" Prefix="false" Value="$(OutDir)" />
    <SetEnv Name="ProjectName" Prefix="false" Value="$(ProjectName)" />
    <SetEnv Name="PlatformTarget" Prefix="false" Value="$(PlatformTarget)" />
    <Exec Command="pack.bat" />
  </Target>
</Project>
